{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<style>
    .kiwi{
        border-radius: 7% 93% 8% 92% / 91% 9% 91% 9%  ;
    }
</style>
    <h1 class="title m-6">Connexion</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container mb-5">
        <div class="columns">
            <div class="column is-three-fifths">
                <img class="kiwi" src="{{ asset('img/kiwi.jpg') }}">
            </div>
            <div class="column is-flex is-flex-direction-column is-justify-content-center">
                <form method="post">
                    <div class="field">
                        <label class="label" for="inputEmail">E-mail</label>
                        <div class="control has-icons-left">
                            <input class="input is-success is-large" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                            <span class="icon is-left">
                                <i class="bi bi-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="inputPassword">Mot de passe</label>
                        <div class="control has-icons-left">
                            <input class="input is-success is-large" type="password" name="password" id="inputPassword"  autocomplete="current-password" required>
                            <span class="icon is-left">
                                <i class="bi bi-lock"></i>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="is-flex is-flex-direction-column is-align-items-center">
                        <label class="checkbox">
                            <input type="checkbox" name="_remember_me">
                            Se souvenir de moi
                        </label>
                        <div class="mt-4 mb-5">
                            <button type="submit" class="button is-primary is-large">
                        <span class="icon">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </span>
                                <span>Connexion</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
