{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
  <div class="container">
      {{ form_start(registrationForm) }}
      <div class="columns">
          <div class="field column">
              <label class="label">{{ form_label(registrationForm.name) }}</label>
              <div class="control">
                  <div class="input">{{ form_widget(registrationForm.name) }}</div>
              </div>
          </div>

          <div class="">{{ form_row(registrationForm.firstname) }}</div>
          <div class="">{{ form_row(registrationForm.email) }}</div>
          <div class="">{{ form_row(registrationForm.plainPassword) }}</div>
          <div class="">{{ form_row(registrationForm.city) }}</div>
          <div class="">{{ form_row(registrationForm.agreeTerms) }}</div>
          <button type="submit" class="btn">S'inscrire</button>
      </div>

      {{ form_end(registrationForm) }}
  </div>


{% endblock %}
