<style>
    .footer-title{
        font-size:4vw;
    }
</style>

<footer class="footer has-background-primary">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h3 class="footer-title">La newsletter qui ouvre l'appétit !</h3>
                <p class="subtitle mt-2">Recevez les dernières recettes en avant première, les derniers conseils nutrition et bien plus... </p>
                <form class="">
                    <div class="control column is-half">
                        <input class="input is-dark" type="text" placeholder="Votre adresse mail">
                        <button class="button mt-2 is-light">M'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <nav class="column is-one-third is-flex is-flex-direction-column">
                <ul>
                    <li><a class="has-text-dark" href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="mt-2"><a class=" has-text-dark" href="{{ path('app_recettes') }}">Recettes</a></li>
                    <li class="mt-2"><a class=" has-text-dark" href="{{ path('app_contact') }}">Contact</a></li>
                </ul>
            </nav>
            <nav class="column is-one-third is-flex is-flex-direction-column">
                <ul>
                    <li><a class="has-text-dark" href="{{ path('app_about') }}">A propos</a></li>
                    <li class="mt-2"><a class=" has-text-dark" href="{{ path('app_mycabine') }}">Rendez-vous</a></li>
                    <li class="mt-2"><a class=" has-text-dark" href="mailto:sandrinecoupart@nutrition.fr">E-mail</a></li>
                </ul>
            </nav>
            <nav class="column is-one-third is-flex is-flex-direction-column">
                <ul>
                    <li class="mt-2"><a class=" has-text-dark" href="">Mentions légales</a></li>
                    <li class="mt-2"><a class=" has-text-dark" href="">Politiques de confidentialité</a></li>
                </ul>
            </nav>
        </div>
        <div class="columns is-multiline mt-6 is-size-5 is-flex is-align-items-center">
            <div class="column is-one-quarter">
                <p class="is-size-3">#NUTRITION #MANGEZMIEUX</p>
            </div>
            <div class="column is-flex">
                <div class="column is-one-quarter">
                    <a class="has-text-dark" href=""><i class="bi bi-instagram"></i> Instagram</a>
                </div>
                <div class="column is-one-quarter">
                    <a class="has-text-dark" href=""><i class="bi bi-twitter"></i> Twitter</a>
                </div>
                <div class="column is-one-quarter">
                    <a class="has-text-dark" href=""><i class="bi bi-google"></i> Google</a>
                </div>
            </div>
        </div>
    </div>

</footer>