<nav class="navbar is-size-5 is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('app_home') }}">
            <img src="{{ asset('img/logo.png') }}" width="42" height="42">
        </a>

        <a id="buttonBurger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('app_home') }}">
                Accueil
            </a>
            <a class="navbar-item" href="{{ path('app_recettes') }}">
                Recettes
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Plus
                </a>
                <div class="navbar-dropdown is-size-5">
                    <a class="navbar-item" href="{{ path('app_contact') }}">
                        Contact
                    </a>
                    <a class="navbar-item" href="{{ path('app_mycabine') }}">
                        Rendez-vous
                    </a>
                    <a class="navbar-item" href="{{ path('app_about') }}">
                        A propos
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if app.user %}
                        {% if user.name is defined and user.name is not null %}
                            <p class="subtitle mt-3 mr-5 is-size-4">Bonjour {{ user.name }} {{ user.firstname }}</p>
                        {% endif %}
                    {% endif %}
                    {% if not app.user %}
                        <a class="button is-primary is-size-5" href="{{ path('app_register') }}">
                            <strong>S'inscrire</strong>
                        </a>
                        <a class="button is-light is-size-5" href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="button is-light is-size-5" href="{{ path('admin') }}">
                            Administration
                        </a>
                    {% endif %}
                    {% if app.user %}
                        <a class="button is-warning is-size-5" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    let navbarBasic = document.querySelector('#navbarBasic')
    let buttonBurger = document.querySelector('#buttonBurger')

    buttonBurger.addEventListener('click', ()=>{
        navbarBasic.classList.toggle("is-active");

    })
</script>