{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <style>
        .img-recipe{
            height: 500px;
        }
    </style>

    <div class="block mt-6">
        <div class="container">
            <div class="columns">
                <div class="column is-half ">
                    <img style="height: 500px; width: 100%" class="img-recipe" src="{{ vich_uploader_asset(recette, 'imageFile') }}"/>
                    <div class="is-flex is-justify-content-space-around is-align-items-center mt-3">
                        {% if recette.cuissonTime %}
                            <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
                                <ion-icon name="stopwatch-outline"></ion-icon>
                                <p>Cuisson</p>
                                <p>{{ recette.cuissonTime }} min</p>
                            </div>
                        {% endif %}
                        {% if recette.preparationTime %}
                            <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
                                <ion-icon name="hourglass-outline"></ion-icon>
                                <p>Préparation</p>
                                <p>{{ recette.preparationTime}} min</p>
                            </div>
                        {% endif %}
                        {% if recette.reposTime %}
                            <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
                                <ion-icon name="timer-outline"></ion-icon>
                                <p>Repos</p>
                                <p>{{ recette.reposTime }} min</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="column is-flex is-flex-direction-column m-3" >
                    <h1 class="title">{{ recette.title | capitalize}}</h1>
                    <p>{{ recette.description }}</p>
                    {% for userAllergens in currentUserAllergensArray %}
                        {%  if userAllergens in recette.allergens%}
                            <p class="has-text-danger has-text-centered mt-2"><b>Incompatible avec votre allergie</b></p>
                        {% endif %}
                    {% endfor %}
                    <div class="is-flex is-flex-direction-column mt-5">
                        <p class="subtitle">Régimes:</p>
                        <div class="is-flex is-align-items-center">
                            <ion-icon class="mr-3" size="large" name="restaurant-outline"></ion-icon>
                            {% for regimes in recette.regimes %}
                                <p class="button is-primary is-rounded mr-1 is-light ">{{ regimes }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="is-flex is-flex-direction-column mt-5">
                        <p class="subtitle">Allergènes:</p>
                        <div class="is-flex is-align-items-center">
                            <ion-icon class="mr-3" size="large" name="alert-circle-outline"></ion-icon>
                            {% for allergens in recette.allergens %}
                                <p class="button is-warning is-rounded mr-1 is-light">{{ allergens }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds box p-5">
                    <div class="is-flex is-flex-direction-column">
                        <p class="subtitle">Ingrédients:</p>
                        <div>
                            {% for ingredients in recette.ingredients %}
                                <p class="">- {{ ingredients|capitalize }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="is-flex is-flex-direction-column">
                        <p class="subtitle">Etapes:</p>
                        <div>
                            <p>{{ recette.etapes }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="is-flex is-flex-direction-column">
                        <p class="subtitle">Ajouter un commentaire :</p>
                        {{ form_start(commentForm) }}
                        <article class="media">
                            <div class="media-content">
                               {% if not app.user %}
                                   <div class="column is-two-fifths">
                                       {{ form_label(commentForm.user) }}
                                       <div class="control has-icons-left mt-2">
                                           {{ form_widget(commentForm.user, { 'attr': {'class': 'input is-primary'} }) }}
                                           <span class="icon is-small is-left">
                                            <i class="bi bi-person-circle"></i>
                                        </span>
                                       </div>
                                   </div>
                                {% endif %}
                                <div class="field">
                                    <p class="control">
                                        {{ form_widget(commentForm.message, { 'attr': {'class': 'textarea is-primary', 'placeholder': 'Ajouter un commentaire...'} }) }}
                                    </p>
                                </div>
                                <nav class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <button type="submit" class="button is-primary">Submit</button>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </article>
                        {{ form_end(commentForm) }}
                    </div>
                    <hr>
                    <div class="is-flex is-flex-direction-column">
                        {% for comment in recette.comments|sort|reverse %}
                            <div class="content">
                                <p>
                                    <strong>{{ comment.user }}</strong>
                                    <br>
                                    {{ comment.message }}
                                    <br>
                                    <small>Posté le {{ comment.createdAt|format_datetime('full', 'short', locale='fr') }}</small>
                                </p>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
                <div class="column m-2">
                    <p class="subtitle"><b>Vous aimerez aussi: </b></p>
                    <div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
                        {% for randomRecette in randomRecettes %}
                            <a class="mb-6" style="width: 48%; height: 200px" href="{{ path('app_recette', {title: randomRecette.title}) }}">
                                <img style="width: 100%; height: 100%" src="{{ vich_uploader_asset(randomRecette, 'imageFile') }}">
                                <p class="has-text-centered has-text-black">{{ randomRecette.title|capitalize }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
