{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
<h1 class="title m-5">Nos recettes</h1>
    {% if not recettes.items is same as ([]) %}
        <div class="">
            <p class="">Il y'a {{ recettes.getTotalItemCount }} recette(s) au total</p>
            <div class="">
                <a class="" href="">Ajouter une recette</a>
            </div>
        </div>
        <div class="block">
            <div class="container">
                <div class="columns is-multiline">
                    {%  for recette in recettes %}
                        <a class="column is-one-third" href="{{ path('app_recette', {title: recette.title}) }}">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content is-flex is-justify-content-space-between">
                                            <p class="title is-4 ">{{ recette.title|capitalize }}</p>
                                        </div>
                                    </div>
                                    <div class="is-flex is-justify-content-space-around is-align-items-center">
                                        <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
                                            <ion-icon name="stopwatch-outline"></ion-icon>
                                            <p>Cuisson</p>
                                            <p>{{ recette.preparationTime|number_format(2, '.', 'h') }} min</p>
                                        </div>
                                        <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
                                            <ion-icon name="hourglass-outline"></ion-icon>
                                            <p>Préparation</p>
                                            <p>{{ recette.preparationTime|number_format(2, 'h', '.') }} min</p>
                                        </div>
                                        <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
                                            <ion-icon name="timer-outline"></ion-icon>
                                            <p>Repos</p>
                                            <p>{{ recette.preparationTime|number_format(2, 'h', '.') }} min</p>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p class="has-text-centered">Notes de nos internautes:</p>
                                        <progress class="progress is-primary is-small mt-1" value="{{ recette.note }}" max="5"></progress>
                                    </div>
                                    <div class="is-flex is-justify-content-space-around is-align-items-center mt-2">
                                        {%  for regime in recette.regimes%}
                                            <p><b>{{ regime|capitalize }}</b></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="is-flex is-justify-content-center" >
                    {{ knp_pagination_render(recettes) }}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
